<!
***************************************************************************************
 © 2020 Arizona Board of Regents on behalf of the University of Arizona with rights
       granted for USDOT OSADP distribution with the Apache 2.0 open source license.
***************************************************************************************
configuration.html
Created by: Sherilyn Keaton
University of Arizona   
College of Engineering
This code was developed under the supervision of Professor Larry Head
in the Systems and Industrial Engineering Department.
***************************************************************************************
Description:
------------
This is an html file that contains the presentation for:
    * MMITSS Configuration Viewer and Editor
***************************************************************************************
-->

{% from "_renderfield.html" import renderfield %}

{% extends "base.html" %}


{% block title %}MMITSS System Interface{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h2> {{ pageTitle }}</h2>
    </div>

    <form method="post">

      <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#system" aria-controls="system" role="tab" data-toggle="tab">System</a></li>          
          <li role="presentation" ><a href="#intersection" aria-controls="intersection" role="tab" data-toggle="tab">Intersection</a></li>
          <li role="presentation"><a href="#vehicle" aria-controls="vehicle" role="tab" data-toggle="tab">Vehicle</a></li>
          <li role="presentation"><a href="#network" aria-controls="network_configuration" role="tab" data-toggle="tab">Network</a></li>
          <li role="presentation"><a href="#wireless" aria-controls="wireless" role="tab" data-toggle="tab">Wireless</a></li>
          <li role="presentation"><a href="#controller" aria-controls="controller" role="tab" data-toggle="tab">Controller</a></li>
          <li role="presentation"><a href="#priority" aria-controls="priority" role="tab" data-toggle="tab">Priority</a></li>
          <li role="presentation"><a href="#data_transfer" aria-controls="data_transfer" role="tab" data-toggle="tab">Data Transfer</a></li>
          <li role="presentation"><a href="#simulation" aria-controls="simulation" role="tab" data-toggle="tab">Simulation</a></li>
     
        </ul>
      
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="system">
          {{ renderfield(form.applicationPlatform)}}
          {{ renderfield(form.logging)}}
          {{ renderfield(form.consoleOutput)}}
          {{ renderfield(form.timePhaseDiagram)}}
          {{ renderfield(form.systemPerformanceTimeInterval)}}
          {{ renderfield(form.peerDataDecoding)}}
          {{ renderfield(form.offmapBsmFiltering)}}

        </div>


          <div role="tabpanel" class="tab-pane fade" id="intersection">
            {{ renderfield(form.intersectionName)}}
            {{ renderfield(form.intersectionID)}}
            {{ renderfield(form.regionalID)}}
            <div>
              {{form.mapPayload.label}}
            </div>
            <div>
              {{form.mapPayload(style="width: 400px")}}
            </div>        
            {{ renderfield(form.intersectionReferencePointLatitudeDecimalDegree)}}
            {{ renderfield(form.intersectionReferencePointLongitudeDecimalDegree)}}
            {{ renderfield(form.intersectionReferencePointElevationMeter)}}
          </div>
  

          <div role="tabpanel" class="tab-pane fade" id="vehicle">
            {{ renderfield(form.vehicleType)}}
            {{ renderfield(form.hmiControllerIP)}}          
          </div>

 
          <div role="tabpanel" class="tab-pane fade" id="network">
            {{ renderfield(form.hostIp)}}
            {{ renderfield(form.sourceDsrcDeviceIp)}}
            {{ renderfield(form.dataCollectorIP)}}
 
            <div class="page-header">
              <h2> Network configuration (Administration Only) </h2>
            </div>  
            
            {{ renderfield(form.portNumberMTMessageSender)}}
            {{ renderfield(form.portNumberMTMessageReceiver)}}
            {{ renderfield(form.portNumberMTMessageEncoder)}}
            {{ renderfield(form.portNumberMTMessageDecoder)}}

            {{ renderfield(form.portNumberMessageDistributor)}}
            {{ renderfield(form.portNumberRSMDecoder)}}
            {{ renderfield(form.portNumberOBUBSMReceiver)}}
            {{ renderfield(form.portNumberHostBsmDecoder)}}
            {{ renderfield(form.portNumberTrajectoryAware)}}

            {{ renderfield(form.portNumberPriorityRequestServer)}}
            {{ renderfield(form.portNumberPrioritySolver)}}
            {{ renderfield(form.portNumberPriorityRequestGenerator)}}

            {{ renderfield(form.portNumberTrafficControllerInterface)}}
            {{ renderfield(form.portNumberTrafficControllerCurrPhaseListener)}}
            {{ renderfield(form.portNumberTrafficControllerTimingPlanSender)}}

            {{ renderfield(form.portNumberPerformanceObserver)}}
            {{ renderfield(form.portNumberHMIController)}}
            {{ renderfield(form.portNumberPrioritySolverToTCIInterface)}}
            {{ renderfield(form.portNumberSignalCoordination)}}
            {{ renderfield(form.portNumberMapSPaTBroadcaster)}}
            {{ renderfield(form.portNumberDsrcImmediateForwarder)}}
            {{ renderfield(form.portNumberPriorityRequestServer_SendSSM)}}
            {{ renderfield(form.portNumberDataCollector)}}
            {{ renderfield(form.portNumberSnmpEngine)}}
            {{ renderfield(form.portNumberSnmpEngineInterface)}}
 
            {{ renderfield(form.portNumberTrajectoryAware_MapEngineInterface)}}
            {{ renderfield(form.portNumberMapEngine)}}
            {{ renderfield(form.portNumberLightSirenStatusManager)}}
            {{ renderfield(form.portNumberPeerToPeerPriority)}} 
            {{ renderfield(form.portNumberTimePhaseDiagramTool)}}        
          </div>

     
          <div role="tabpanel" class="tab-pane fade" id="wireless">
      
            {{ renderfield(form.txChannelMap)}}
            {{ renderfield(form.txChannelSPaT)}}
            {{ renderfield(form.txChannelRSM)}}
            {{ renderfield(form.txChannelSRM)}}
            {{ renderfield(form.txChannelSSM)}}
            {{ renderfield(form.txChannelBSM)}}

            {{ renderfield(form.txModeMap)}}
            {{ renderfield(form.txModeSPaT)}}
            {{ renderfield(form.txModeRSM)}}
            {{ renderfield(form.txModeSRM)}}
            {{ renderfield(form.txModeSSM)}}
            {{ renderfield(form.txModeBSM)}}
             {{ renderfield(form.psidMap)}}
            {{ renderfield(form.psidSPaT)}}
            {{ renderfield(form.psidRSM)}}
            {{ renderfield(form.psidSRM)}}
            {{ renderfield(form.psidSSM)}}
            {{ renderfield(form.psidBSM)}}
            
            {{ renderfield(form.msgIdMap)}}
            {{ renderfield(form.msgIdSPaT)}}
            {{ renderfield(form.msgIdRSM)}}
            {{ renderfield(form.msgIdSRMLower)}}
            {{ renderfield(form.msgIdSRMUpper)}}
            {{ renderfield(form.msgIdSSMLower)}}
            {{ renderfield(form.msgIdSSMUpper)}}

        </div>

          <div role="tabpanel" class="tab-pane fade" id="controller">
            {{ renderfield(form.signalControllerIP)}}
            {{ renderfield(form.signalControllerNTCIPPort)}}
            {{ renderfield(form.signalControllerUpdateInterval)}}
            {{ renderfield(form.signalControllerNtcipBackupTime_sec)}}
            {{ renderfield(form.signalControllerVendor)}}
            {{ renderfield(form.signalControllerTimingPlanMib)}}
            {{ renderfield(form.signalControllerInactiveVehPhases)}}
            {{ renderfield(form.signalControllerInactivePedPhases)}}
            {{ renderfield(form.signalControllerSplitPhases1)}}
            {{ renderfield(form.signalControllerSplitPhases3)}}
            {{ renderfield(form.signalControllerSplitPhases5)}}
            {{ renderfield(form.signalControllerSplitPhases7)}}
            {{ renderfield(form.signalControllerPermissiveEnabled1)}}
            {{ renderfield(form.signalControllerPermissiveEnabled3)}}
            {{ renderfield(form.signalControllerPermissiveEnabled5)}}
            {{ renderfield(form.signalControllerPermissiveEnabled7)}}
          </div>

          <div role="tabpanel" class="tab-pane fade" id="priority">
            {{ renderfield(form.coordinationPlanCheckingTimeInterval)}}
            {{ renderfield(form.priorityEVWeight)}}
            {{ renderfield(form.priorityEVSplitPhaseWeight)}}
            {{ renderfield(form.priorityTransitWeight)}}
            {{ renderfield(form.priorityTruckWeight)}}
            {{ renderfield(form.priorityDilemmaZoneRequestWeight)}}
            {{ renderfield(form.priorityCoordinationWeight)}}
            {{ renderfield(form.priorityFlexibilityWeight)}}
            {{ renderfield(form.srmTimedOutTime)}}
          </div>

          <div role="tabpanel" class="tab-pane fade" id="data_transfer">
            {{ renderfield(form.dataTransferServerDataDirectory)}}
            {{ renderfield(form.dataTransferServerIPAddress)}}
            {{ renderfield(form.dataTransferServerUsername)}}
            {{ renderfield(form.dataTransferServerPassword)}}            
            {{ renderfield(form.dataTransferIntersectionName)}}
            {{ renderfield(form.dataTransferIntersectionV2xDataLocation)}}
            {{ renderfield(form.dataTransferStartTimePushToServerHour)}}
            {{ renderfield(form.dataTransferStartTimePushToServerMinute)}}
          </div>

          <div role="tabpanel" class="tab-pane fade" id="simulation">
            {{ renderfield(form.messageDistributorIP)}}
            {{ renderfield(form.priorityRequestGeneratorServerIP)}}           
            {{ renderfield(form.portNumberPriorityRequestGeneratorServer)}}


          </div>
        </div>
       
        <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
              {{message}}
            </div>
          {% endfor %}
        {% endif %}
        {% endwith %}
        </div>
        <div>
	        <input type="submit" value="Save Changes" onclick="window.location='/configuration';" />
	        <input type="cancel" value="Cancel" onclick="window.location='/configuration';" />
        </div>
  </form>

{% endblock %}