{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>System Console</h1>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">University and Third Avenue</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck2">
        <label class="form-check-label" for="exampleCheck2">University and Tyndall Avenue</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck3">
        <label class="form-check-label" for="exampleCheck3">2nd Street and Olive Avenue</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck4">
        <label class="form-check-label" for="exampleCheck4">2nd Street and Highland Avenue</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck5">
        <label class="form-check-label" for="exampleCheck5">2nd Street and Cherry Avenue</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck6">
        <label class="form-check-label" for="exampleCheck6">Helen Street and Warren Avenue</label>
    </div>
    <form method="POST" action="/">
        <div></div>
            <input type="button" value="Start System" class="btn-success btn-lg" />
            <input type="button" value="Stop System" class="btn-danger btn-lg" />
        </div>
    </form>
</div>
{% endblock %}