<!
***************************************************************************************
 © 2020 Arizona Board of Regents on behalf of the University of Arizona with rights
       granted for USDOT OSADP distribution with the Apache 2.0 open source license.
***************************************************************************************
index.html
Created by: Sherilyn Keaton
University of Arizona   
College of Engineering
This code was developed under the supervision of Professor Larry Head
in the Systems and Industrial Engineering Department.
***************************************************************************************
Description:
------------
This is the html file that contains the presentation for:
    * MMITSS System Interface Homepage
***************************************************************************************
-->

{% extends "base.html" %}

{% block title %}MMITSS System Interface Prototype{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>MMITSS System Interface</h1>
  </div>
    <div class="page-content">
        <div>
            <img src="static/images/mmitss_logo.PNG" alt="MMITSS Logo" class="rounded float-right" >
        </div>
    </div>

</div>
{% endblock %}