
{% extends "base.html" %}

{% block content %}


<style>
    .diagram_list{

        height:70px;
        width:500px;
        overflow-y:auto;
        float:right;
        position:relative;
        margin-top:-30%;
        border-style: ridge;
        border: #04AA6D;
    }


    ul li:hover {
        display: block;
        color: black;
        background-color: #e4e6e8;
    }

.previous {
  background-color: #f1f1f1;
  color: black;
  margin-left: 230px;
}

.next {
  background-color: #04AA6D;
  color: white;
}

.round {
  border-radius: 50%;
  
}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}
img {
    width: 550px;
}
</style>

<div class="container">
    <div class="page-header">
        <h1>Performance Data</h1>
    </div>
    <form method="post">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#tables" aria-controls="tables" role="tab" data-toggle="tab">Tables</a></li>
                <li><a href="#diagrams" aria-controls="diagram" role="tab" data-toggle="tab">Time Phase Diagrams</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="tables">

                </div>

                <div role="tabpanel" class="tab-pane fade" id="diagrams">

                        <img src="../static/images/diagrams/{{image}}" alt="not showing currently" width="600" height="500" id="picture"/>
                        <br>
                        
                        <a href="#" onclick="cursorPrev('{{diagrams}}')" class="previous round">&#8249;</a>
                        <a href="#" onclick="cursorNext('{{diagrams}}')" class="next round">&#8250;</a>
                

                    <div class="diagram_list" id="list">
                        <ul>

                            {% for diagram in diagrams %}
                            <li onclick="changeDiagram('{{ diagram }}')">{{diagram}}</li>
                            {% endfor %}

                        </ul>
                           
                    </div>

                </div>
            </div>


        </div>
    </form>
</div>


<script>

function changeDiagram(diagram){
    

    var image2 = diagram;
    var image3 = '../static/images/diagrams/' + image2 ;
    document.getElementById("picture").src = image3;


}

function cursorNext(diagrams){

    var n = diagrams.length;
    var image = document.getElementById("picture").src
    console.log(image);
    for(let i=0;i<n;i++){

        if('../static/images/diagrams/' + diagrams[i] == image){
            
            document.getElementById("picture").src = '../static/images/diagrams/'+diagrams[i+1];

        }

    }


}
function cursorPrev(diagrams){

var n = diagrams.length;
var image = document.getElementById("picture").src
for(let i=0;i<n;i++){

    if('../static/images/diagrams/' + diagrams[i] == image){
        
        document.getElementById("picture").src = '../static/images/diagrams/'+diagrams[i-1];

    }

}


}





</script>





{% endblock %}
