#ignore binaries
docker/applictions/M_TrajectoryAware
docker/applictions/M_TrafficControllerInterface

#unignore the shell script
!docker/applictions/*.sh

#Ignore obj files
*.o

.idea

.vscode

cmake*

CMake*
