#ignore binaries
docker/applictions/M_*

#unignore the shell script
!docker/applictions/*.sh

#Ignore obj files
*.o

.idea

*.code-workspace

/bin/*


.vscode

cmake*

CMake*

docker/corridors/speedway/rse81_campbell/nojournal/bin/log/*.log
*.pyc
.DS_Store
