#ignore binaries
M_*

#unignore the shell script
!docker/applictions/*.sh

#Ignore obj files
*.o

.idea

*.code-workspace

.vscode

cmake*

CMake*


*.pyc
.DS_Store

*NewModel_EV.mod
*NewModel.mod
*NewModelData.dat
*Results.txt
*.map.payload
*.log
*mmitss-system-performance-roadside-log-data.csv
config/*.csv
config/*/*/nojournal/bin/v2x-data/*
config/*/*/nojournal/bin/log/*.txt
